/* Wheel */
#winrate__wheel {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wheel__inner {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#winrate {
    font-size: 1.5em;
    font-weight: bold;
    color: #3c4761;
}

/* Bars */
.winrate__bar {
    width: 150px;
    height: 20px;
    background-color: #B79797;
}

.surface__winrate {
    height: 100%;
    width: 0%;
}

#hard__stats {
    background-color: #0116D3;
}

#grass__stats {
    background-color: #778435;
}

#clay__stats {
    background-color: #BD5327;
}

/* Head to head circles */
.headtohead__circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #5237E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ranking chart */
#line-chart {
    width: 100%;
    background-color: #fff;
}